@font-face {
    font-family: 'Museo Sans Cyrl 500';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Cyrl 500'), url('/main/static/main/museosanscyrl-500.woff') format('woff');
}


body{
    background-color: #faf9eb;
}

.wrapper{
    display: grid;
    grid-gap:1em;
    grid-template-columns: 33% 33% 33%;
}
.wrapper > div {
    padding: 1em;
}

.box{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* Белый */
    background: #FFFFFF;
    border-radius: 6px;
    padding-bottom: 15px;
}
.topic{
    padding-bottom: 10px;
    padding-top: 35px;
    padding-left: 15px;
    position: static;
    height: 15px;
    left: 0px;
    top: 0px;
    font-family: Museo Sans Cyrl 500;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* Серый 1 */
    color: #424754;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 8px;
}
.btn-topic{
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 6px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.information{
    /* Pure substances and mixtures */
    padding-left: 15px;
    position: static;
    width: 204px;
    height: 39px;
    left: 0px;
    top: 23px;
    font-family: Museo Sans Cyrl 500;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* Черный */
    color: #222224;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 0px 8px;
}
.photo{
    width: 120px;
    height: 120px;
    left: 490px;
    top: 114px;
    padding-top: 25px;
}

.center{
    text-align: center;
}

.btn-custom{
    background-color: #faf9eb;
    color: gray;
    border-color: #faf9eb;
    position: static;

    font-family: Museo Sans Cyrl 500;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    /*margin: 14px 0px;*/
}

.btn-custom:hover {
    background-color: white;
    color: #fc2b63;
    border-color: white;
    font-weight: 500;
}
.btn-custom:active{
    background-color: white;
    color: #fc2b63;
    border-color: white;
    font-weight: 500;
    border-color:  #faf9eb;
    box-shadow: none;
}

.custom-img-xs{
    max-height: 15px;
    max-width: 15px;
    width: 70%;
    height: 70%;
    width: auto;  
    position:relative;
    top: +1px;
}

.custom-img{
    max-height: 200px;
    max-width: 200px;
    width: 70%;
    height: 70%;
    width: auto;
    position:relative;
    left: +100px;
}

.btn-red{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    /* Основной */
    background: #F04B5D;
    border-radius: 6px;
}

.title{
    left: 39.32%;
    right: 47.19%;
    top: 1.24%;
    bottom: 97.15%;
    font-family: Museo Sans Cyrl 500;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Черный */
    color: #222224;
}