{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Physics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/release/v5.0.8/js/all.js"></script>
{% endblock %}

{% block content %}
<br/>
    <footer class="footer">
        <div class="row padding">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <button class="language"  onclick="change_lan('EN')">English</a>
                <button class="language" onclick="change_lan('RU')">Русский</a>
            </div>
        </div>
    </footer>
<br/>

    <!-- Navigation -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-2">
                <img src="/media/Logo.svg" class="img-fluid">
            </div>
            <div class="col-lg-2">
                <div class="dropdown for-whom">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                        <span class="en-text">For whom</span>
                        <span class = 'ru-text'>Для кого</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'for-student' %}" class="dropdown-item">
                            <span class="en-text">Student</span>
                            <span class = 'ru-text'>Школьникам и студентам</span>
                        </a>
                        <a href="{% url 'for-other' %}" class="dropdown-item">
                            <span class="en-text">Other</span>
                            <span class = 'ru-text'>Взрослым</span>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-2">
                <div class="dropdown our-courses">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="en-text">Our courses</span>
                        <span class = 'ru-text'>Наши курсы</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'math' %}" class="dropdown-item">
                            <span class="en-text">Math</span>
                            <span class = 'ru-text'>Математика</span>
                        </a>
                        <a href="{% url 'physics' %}" class="dropdown-item">
                            <span class="en-text">Physics</span>
                            <span class = 'ru-text'>Физика</span>
                        </a>
                        <a href="{% url 'chemistry' %}" class="dropdown-item">
                            <span class="en-text">Chemistry</span>
                            <span class = 'ru-text'>Химия</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            {% if user.is_authenticated %}
            <div class="col-lg-2">
                <a href="{% url 'logout' %}" class="btn btn-primary btn-sign-in">
                    <h2 class="sign-in-text">
                        <span class="en-text">Logout</span>
                        <span class = 'ru-text'>Выйти</span>
                    </h2>
                </a>
            </div>
            <div class="col-lg-2 ">
                <a href="{% url 'main-personal_page' %}" class="btn btn-primary btn-sign-in">
                    <h2 class="to-home-text">
                        <span class = 'en-text'>Back to account</span>
                        <span class = 'ru-text'>Вернуться</span>
                    </h2>
                </a>
            </div>
            {% else %}
            <div class="col-lg-2 ">
                <a href="{% url 'login' %}" class="btn btn-primary btn-sign-in">
                    <h2 class="sign-in-text">
                        <span class = 'en-text'>Sign in</span>
                        <span class = 'ru-text' style="width: 90;height: 38px; position: relative; top: +10px;">Войти</span>
                    </h2>
                </a>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'register' %}" class="btn btn-primary btn-red" style="border-color: #F04B5D;">
                    <h2 class="btn-red-text">
                        <span class = 'en-text'>Start for free</span>
                        <span class = 'ru-text' style="position: relative; left: -15px;top: +10px;
                            width:170px;height: 38px;">Начать бесплатно</span>
                    </h2>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="empty-padding"></div>
    <div class="empty-padding"></div>
    <!-- This is a comment 
    <img class="image-top ph1 ru-text" src="/media/ph1.jpg" class="img-fluid">
    <img class="image-top ph1 en-text" src="/media/pe0.png" class="img-fluid">-->
    <div class="container-fluid padding ">
        <div class="row padding  px-0" >
            <div class="col-lg-8 block-one" style="position: relative;top:-25px;">
                <img class="image-top ru-text" src="/media/dfg1.svg" class="img-fluid">
                <br/>
                <br/>
                <img class="image-top ru-text" src="/media/dfg2.svg" class="img-fluid">
                <br/>
                <a href="{% url 'courses' %}" class="btn btn-primary btn-red-submit" type="button" data-toggle="modal" data-target="#MyModal">
                    <span class="en-text">Apply for a trial lesson</span>
                    <span class = 'ru-text'  style="width:293px;height:48px;position:relative;top:+9px;">Оставить заявку на пробный урок</span>
                </a>
            </div>
            <div class="col-lg-3 block-one">
                <img class="image-top ph2 ru-text" src="/media/ph2.svg" class="img-fluid">
                <img class="image-top ph2 en-text" src="/media/pe1.svg" class="img-fluid">
                <img class="image-top ph3 ru-text" src="/media/ph3.svg" class="img-fluid">
                <img class="image-top ph2 en-text" src="/media/pe2.svg" class="img-fluid">
            </div>
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/>
    <img class="image-top ru-text" src="/media/phys1.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe3.svg" class="img-fluid">
    <br/><br/><br/><br/><br/><br/><br/>
    <img class="image-top ru-text" src="/media/phys2.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe4.svg" class="img-fluid">
    <br/><br/><br/><br/><br/><br/><br/>
    <img class="image-top ru-text" src="/media/phys3.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe5.svg" class="img-fluid">
    <br/><br/><br/><br/><br/>
    <br/>
    <div class="container-fluid padding ">
        <div class="row padding orange-full px-0" style="width: 1109px; height: 362px; left: 406px; top: 2339px;">
            <div class="col-lg-5 block-one" style="padding-left: 64px;">
                <h2 class="img-text-bold-4 move-down-50" >
                    <span class="en-text">The trust should be built</span>
                    <span class = 'ru-text'>Запишитесь</span>
                </h2>
                <h2 class="img-text-bold-4">
                    <span class="en-text">between the teacher</span>
                    <span class = 'ru-text'>на пробный урок</span>
                </h2>
            </div>
            <div class="col-lg-7 block-one" style="padding-top: 75px;">
                <form method="POST" style="position: relative;top:-25px;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required style="width: 505px;height: 48px;" name ="user_phone" type="input-group-text" class="form-control" placeholder="Телефон" >
                    </div>
                    <div class="form-group">
                        <input required  style="width: 505px;height: 48px;" name ="user_name" type="input-group-text" class="form-control" placeholder="Ваше имя" >
                    </div>
                    <div class="form-group">
                        <input required style="width: 505px;height: 48px;" name ="user_email" type="email" class="form-control" placeholder="Электронная почта" id="email">
                    </div>
                    <div class="d-inline-block" >
                        <small class="text-muted">
                                <span class="en-text">фыв</span>
                                <span class = 'ru-text' style="padding-top: 15px;">Нажимая на кнопку отправить, вы даете</span>
                                <br/>
                                <span class="en-text">фыв</span>
                                <span class = 'ru-text'>согласие на обработку <b>персональных данных</b></span>
                        </small>
                    </div>
                    <div class="d-inline-block" style="padding-left: 50px;">
                    <button type="submit" style="position:relative;top:-15px;left:-45px;" class="btn btn-primary btn-red-submit d-inline-block">
                        <span class="en-text">submit</span>
                        <span class = 'ru-text' style="width: 190px;height:48px;position: relative;top: +12px;">Оставить заявку</span>
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <div>
    <img class="image-top ru-text" src="/media/phys4.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe6.svg" class="img-fluid">
    <br/><br/><br/><br/><br/><br/><br/>
    <img class="image-top ru-text" src="/media/phys5.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe7.svg" class="img-fluid">
    <br/><br/><br/><br/><br/><br/><br/>
    <img class="image-top ru-text" src="/media/phys6.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe8.svg" class="img-fluid">
    <br/><br/><br/><br/><br/><br/><br/>
    <img class="image-top ru-text" src="/media/phys7.svg" class="img-fluid">
    <img class="image-top en-text" src="/media/pe9.svg" class="img-fluid">
    <br/><br/><br/><br/><br/>
    </div>

    <div class="container-fluid padding ">
        <div class="row padding orange-full px-0" style="width: 1109px; height: 362px; left: 406px; top: 2339px;">
            <div class="col-lg-5 block-one" style="padding-left: 64px;">
                <h2 class="img-text-bold-4 move-down-50" >
                    <span class="en-text">The trust should be built</span>
                    <span class = 'ru-text'>Хочу</span>
                </h2>
                <h2 class="img-text-bold-4">
                    <span class="en-text">between the teacher</span>
                    <span class = 'ru-text'>попробовать</span>
                </h2>
            </div>
            <div class="col-lg-7 block-one" style="padding-top: 75px;">
                <form method="POST" style="position: relative;top:-25px;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required style="width: 505px;height: 48px;" name ="user_phone" type="input-group-text" class="form-control" placeholder="Телефон" >
                    </div>
                    <div class="form-group">
                        <input required  style="width: 505px;height: 48px;" name ="user_name" type="input-group-text" class="form-control" placeholder="Ваше имя" >
                    </div>
                    <div class="form-group">
                        <input required style="width: 505px;height: 48px;" name ="user_email" type="email" class="form-control" placeholder="Электронная почта" id="email">
                    </div>
                    <div class="d-inline-block" >
                        <small class="text-muted">
                                <span class="en-text">фыв</span>
                                <span class = 'ru-text' style="padding-top: 15px;">Нажимая на кнопку отправить, вы даете</span>
                                <br/>
                                <span class="en-text">фыв</span>
                                <span class = 'ru-text'>согласие на обработку <b>персональных данных</b></span>
                        </small>
                    </div>
                    <div class="d-inline-block" style="padding-left: 50px;">
                    <button type="submit" style="position:relative;top:-15px;left:-45px;" class="btn btn-primary btn-red-submit d-inline-block">
                        <span class="en-text">submit</span>
                        <span class = 'ru-text' style="width: 190px;height:48px;position: relative;top: +12px;">Оставить заявку</span>
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
    <!-- Footer -->
    <footer style="position: relative;top: -1px;">
        <div class="container-fluid padding">
            <div class="row text-left">
                <div class="col-md-4">
                    <img src="/media/footer.jpg">
                </div>
                <div class="col-md-4">
                    <h5>
                        <span class="en-text">Learning</span>
                        <span class = 'ru-text'>Обучение</span>
                        
                    </h5>
                    <a class="footer-link" href="#">
                        <span class="en-text">Process</span>
                        <span class = 'ru-text' style="padding: 5px;">Процесс</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Classes</span>
                        <span class = 'ru-text' style="padding: 5px;">Предметы</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Educators</span>
                        <span class = 'ru-text' style="padding: 5px;">Преподаватели</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">QnA</span>
                        <span class = 'ru-text' style="padding: 5px;">Вопрос-ответ</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Price</span>
                        <span class = 'ru-text' style="padding: 5px;">Цена</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <h5>
                        <span class="en-text">PRO2</span>
                        <span class = 'ru-text'>PRO2</span>
                    </h5>
                    <a class="footer-link" href="#">
                        <span class="en-text">About Company</span>
                        <span class = 'ru-text'  style="padding: 5px;">О школе</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#"  type="button" data-toggle="modal" data-target="#MyModalT">
                        <span class="en-text">For educators</span>
                        <span class = 'ru-text'  style="padding: 5px;">Преподавателям</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Reviews</span>
                        <span class = 'ru-text'  style="padding: 5px;">Отзывы</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Privacy policy</span>
                        <span class = 'ru-text'  style="padding: 5px;">Конфиденциальность</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
<script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}