{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/personal.css' %}">
{% endblock %}

{% block content %}
    <br/>
    <div class="row padding">
        <div class="col-lg-3 left-side">
            <img src="/media/Logo.svg" class="img-fluid">
            <br/>
            <div class="media photo">
                <img class="rounded-circle account-img custom-img" src="{{ user.image.url }}">
            </div>
            <h5 class="center">{{user.name}}</h5>
            <a href="{% url 'main-personal_page' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                <span class="en-text">&ensp; My account</span>
                <span class = 'ru-text'>&ensp;Личный кабинет</span>
            </a>
            {% if user.is_god %}
                <a href="{% url 'create-course' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                    <span class="en-text">&ensp; Create Course</span>
                    <span class = 'ru-text'>&ensp;Создать Курс</span>
                </a>    
            {% endif %}
            {% if user.is_paid %}
                <a href="{% url 'survey' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                    <span class="en-text">&ensp; Анкета</span>
                    <span class = 'ru-text'>&ensp;Анкета</span>
                </a>
                {% for course in courses %}
                    {% if course.is_paid %}
                        <h1 style='display: none;' class='course-name'>{{ course.course_name }}</h1>
                        <a href="{% url 'course-my' %}" id = "{{course.course_name}}" type ="button" class="btn btn-primary btn-custom course-list"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                            <span class="en-text">&ensp; {{ course.course_name }}</span>
                            <span class = 'ru-text'>&ensp; {{ course.course_name }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-8 right-side">
            <h2>Химия на английском языке</h2>
            <h5>Заказ №348643113</h5>
            <div class="boxMe">
                <div class="media" style="display: inline;">
                    <img style="width: 80px;height: 80px;" class="rounded-circle account-img custom-img" src="{{ user.image.url }}">
                </div>
                <h5 style="display: inline;">{{user.name}}</h5><Br>
                <h4 style="display: inline;">Создан</h4><span>-</span><h4 style="display: inline;">{{temp.email}}</h4><Br>
                <h4 style="display: inline;">Фио</h4><span>-</span><h4 style="display: inline;">{{temp.fio}}</h4><Br>
                <h4 style="display: inline;">Предмет</h4><span>-</span><h4 style="display: inline;">{{temp.subject}}</h4><Br>
                <h4 style="display: inline;">Бюджет</h4><span>-</span><h4 style="display: inline;">{{temp.money}}</h4><Br>
                <h4 style="display: inline;">Когда</h4><span>-</span><h4 style="display: inline;">{{temp.when}}</h4><Br>
                <h4 style="display: inline;">Цель</h4><span>-</span><h4 style="display: inline;">{{temp.goal}}</h4><Br>
                <h4 style="display: inline;">Ученик</h4><span>-</span><h4 style="display: inline;">{{temp.student_name}}</h4><Br>
                <h4 style="display: inline;">Телефон</h4><span>-</span><h4 style="display: inline;">{{temp.phone}}</h4><Br>    
            </div>
        </div>
        <div class="col-lg-1">
            <!-- <a href="{% url 'main-home' %}" class="btn btn-primary btn-red">Home</a> -->
            <a href="{% url 'survey-update' %}" class="btn btn-primary btn-red">
                <span class="en-text">Logout</span>
                <span class = 'ru-text'>Update</span>
            </a>
        </div>
    </div>
    <script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}