{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Create Course</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/create_course.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h5>
        <span class="en-text">Create Course</span>
        <span class = 'ru-text'>Create Course</span>
    </h5>
    {{ form|crispy }}
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">
            <span class="en-text">Register</span>
            <span class = 'ru-text'>Register</span>
        </button>
    </div>
</form>

<script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}