{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>Theory</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/formula.css' %}">
{% endblock %}

{% block content %}
<br/>
<div class="row padding">
    <div class="col-lg-3 left-side">
        <img src="/media/Logo.svg" class="img-fluid">
        <br/>
        <div class="media photo">
            <img class="rounded-circle account-img custom-img" src="{{ user.image.url }}">
        </div>
        <h5 class="center">{{user.name}}</h5>
        <a href="{% url 'main-personal_page' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; My account</span>
            <span class = 'ru-text'>&ensp;Личный кабинет</span>
        </a>
        <a href="{% url 'theory' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Theory and practice</span>
            <span class = 'ru-text'>&ensp;Теория и практика</span>
        </a>
        <a href="{% url 'homework' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Homework</span>
            <span class = 'ru-text'>&ensp;Домашние задания</span>
        </a>
        <a href="{% url 'test' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Tests</span>
            <span class = 'ru-text'>&ensp;Тесты</span>
        </a>
        <a href="{% url 'formula' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Data booklet</span>
            <span class = 'ru-text'>&ensp;Справочник формул</span>
        </a>
    </div>
    <div class="col-lg-8 right-side">
            <h4 class="title">
                <span class="en-text">Formula</span>
                <span class = 'ru-text'>Справочник формул</span>
            </h4>
            <div class="box">
                <div class="wrapper-btn">
                    <a href="#" class="btn btn-primary btn-category">
                        <span class="en-text">All formulas</span>
                        <span class = 'ru-text'>Все формулы</span>
                    </a>
                    <a href="#" class="btn btn-primary btn-category">Category 1</a>
                    <a href="#" class="btn btn-primary btn-category">Category 2</a>
                    <a href="#" class="btn btn-primary btn-category">Category 3</a>
                </div>
                <div class="wrapper">
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            Mass of substance m (г)
                        </h4>
                        <h3 class="formula-text">
                            m=n•Mr
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The volume of the substance V (l)
                        </h4>
                        <h3 class="formula-text">
                            V=n • 22.4 (l / mol)
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            Mass of substance m (г)
                        </h4>
                        <h3 class="formula-text">
                            m=n•Mr
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The volume of the substance V (l)
                        </h4>
                        <h3 class="formula-text">
                            V=n • 22.4 (l / mol)
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            Mass of substance m (г)
                        </h4>
                        <h3 class="formula-text">
                            m=n•Mr
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The volume of the substance V (l)
                        </h4>
                        <h3 class="formula-text">
                            V=n • 22.4 (l / mol)
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            Mass of substance m (г)
                        </h4>
                        <h3 class="formula-text">
                            m=n•Mr
                        </h3>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The volume of the substance V (l)
                        </h4>
                        <h3 class="formula-text">
                            V=n • 22.4 (l / mol)
                        </h3>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-1">
        <a href="{% url 'logout' %}" class="btn btn-primary btn-red">
            <span class="en-text">Logout</span>
            <span class = 'ru-text'>Выйти</span>
        </a>
    </div>
</div>
<script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}