{% extends "main/base.html" %}
{% load static %}
{% block title %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Main Page
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/release/v5.0.8/js/all.js"></script>
{% endblock %}

{% block content %}
    <div id="MyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
                <div class="modal-content" style="background-color: blue;">
                    <div class= "modal-header">
                        <h2 class="">
                            <span class="en-text">Your data</span>
                            <span class = 'ru-text'>Ваши данные</span>
                        </h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Your Name:</label>
                                <input required name ="user_name" type="input-group-text" class="form-control" placeholder="Your Name" >
                            </div>
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input required name ="user_email" type="email" class="form-control" placeholder="Enter email" id="email">
                            </div>
                            <div class="form-group">
                                <label for="email">Your Phone:</label>
                                <input required name ="user_phone" type="input-group-text" class="form-control" placeholder="Your Phone" >
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <div id="MyModalT" class="modal fade" role="dialog">
        <div class="modal-dialog">
                <div class="modal-content" style="background-color: blue;">
                    <div class= "modal-header">
                        <h2 class="">
                            <span class="en-text">Your data</span>
                            <span class = 'ru-text'>Ваши данные</span>
                        </h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Your Name:</label>
                                <input required  name ="user_name" type="input-group-text" class="form-control" placeholder="Your Name" >
                            </div>
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input required name ="user_email" type="email" class="form-control" placeholder="Enter email" id="email">
                            </div>
                            <div class="form-group">
                                <label for="email">Your Phone:</label>
                                <input required name ="user_phone" type="input-group-text" class="form-control" placeholder="Your Phone" >
                            </div>
                            <div class="form-group">
                                <label for="email">Your Field:</label>
                                <input required name ="user_field" type="select" class="form-control" placeholder="Physics" >
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <br/>
    <footer class="footer">
        <div class="row padding">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <button class="asdasd"  onclick="change_lan('EN')">En</a>
                <button class="asdasd" onclick="change_lan('RU')">Ру</a>
            </div>
        </div>
    </footer>
    <br/>
    <!-- Navigation -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-2">
                <img src="/media/Logo.svg" class="img-fluid">
            </div>
            <div class="col-lg-2">
                <div class="dropdown for-whom">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                        <span class="en-text">For whom</span>
                        <span class = 'ru-text'>Для кого</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'for-student' %}" class="dropdown-item">
                            <span class="en-text">Student</span>
                            <span class = 'ru-text'>Школьникам и студентам</span>
                        </a>
                        <a href="{% url 'for-other' %}" class="dropdown-item">
                            <span class="en-text">Other</span>
                            <span class = 'ru-text'>Взрослым</span>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-2">
                <div class="dropdown our-courses">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="en-text">Our courses</span>
                        <span class = 'ru-text'>Наши курсы</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'math' %}" class="dropdown-item">
                            <span class="en-text">Math</span>
                            <span class = 'ru-text'>Математика</span>
                        </a>
                        <a href="{% url 'physics' %}" class="dropdown-item">
                            <span class="en-text">Physics</span>
                            <span class = 'ru-text'>Физика</span>
                        </a>
                        <a href="{% url 'chemistry' %}" class="dropdown-item">
                            <span class="en-text">Chemistry</span>
                            <span class = 'ru-text'>Химия</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            {% if user.is_authenticated %}
            <div class="col-lg-2">
                <a href="{% url 'logout' %}" class="btn btn-primary btn-sign-in">
                    <h2 class="sign-in-text">
                        <span class="en-text">Logout</span>
                        <span class = 'ru-text'>Выйти</span>
                    </h2>
                </a>
            </div>
            <div class="col-lg-2 ">
                <a href="{% url 'main-personal_page' %}" class="btn btn-primary btn-sign-in">
                    <h2 class="to-home-text">
                        <span class = 'en-text'>Back to account</span>
                        <span class = 'ru-text'>Вернуться</span>
                    </h2>
                </a>
            </div>
            {% else %}
            <div class="col-lg-2 ">
                <a href="{% url 'login' %}" class="btn btn-primary btn-sign-in">
                    <h2 class="sign-in-text">
                        <span class = 'en-text'>Sign in</span>
                        <span class = 'ru-text' style="width: 90;height: 38px; position: relative; top: +10px;">Войти</span>
                    </h2>
                </a>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'register' %}" class="btn btn-primary btn-red" style="border-color: #F04B5D;">
                    <h2 class="btn-red-text">
                        <span class = 'en-text'>Start for free</span>
                        <span class = 'ru-text' style="position: relative; left: -15px;top: +10px;
                            width:170px;height: 38px;">Начать бесплатно</span>
                    </h2>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="empty-padding"></div>
    <!-- Title -->
    <div class="title">
        <div style="padding-bottom: 42px;margin-bottom: 42px;">
            <img  class="img-fluid image-top ru-text" style="position:relative; left: +200px;" src="/media/mr1.svg" >
            <img  class="img-fluid image-top en-text" style="position:relative; left: +200px;" src="/media/mee01.svg">
        </div>
        <div class="row text-center ">
            <img  class="img-fluid image-top ru-text" style="position:relative; left: +200px;" src="/media/mr2.svg" >
            <img  class="img-fluid image-top en-text" style="position:relative; left: +200px;" src="/media/mee02.svg" >
        </div>
    </div>

    <!-- Image 1 -->
    <div  class="container-fluid padding orange" style="width: 920px; height: 393px;">
        <div class="row padding">
            <div class="col-lg-8 block-one">
                <img class="image-top img-fluid" style="position: relative; top: -65px; padding-left: 45px;" src="/media/ts0.svg"></br>
                <img class="image-top img-fluid" style="position: relative; top: -15px; padding-left: 45px;" src="/media/ts1.svg">
                <br/>
                <br/><br/>
                <span style="padding-left: 45px;"></span><a href="{% url 'courses' %}"  type="button" class="btn btn-primary btn-white" data-toggle="modal" data-target="#MyModal">
                        <span class="en-text">Get Started</span>
                        <span class = 'ru-text'>Оставить заявку</span>
                </a>
                <a href="#" class="btn btn-primary btn-pink">
                    <span class="en-text">In more detail</span>
                    <span class = 'ru-text'>Подробнее</span>
                </a>
            </div>
            <div class="col-lg-4">
                <img class="image-top img-fluid" style="position: relative; top: +150px;" src="/media/ts2.svg">
            </div>
        </div>
    </div>
    <div class="empty-padding"></div>
    <!-- Image 2 -->
    <img  style="padding-top: 200px;" class="img-fluid image-top ru-text" src="/media/mr3.svg" >
    <img  class="img-fluid image-top en-text" src="/media/mee1.svg" >
    <div class="empty-padding"></div>
    <!-- Image 3 -->
    <img  style="padding-top: 200px; padding-bottom: 200px;" class="img-fluid image-top ru-text" src="/media/mr4.svg" >
    <img  class="img-fluid image-top en-text" src="/media/mee2.svg" >
    <div class="empty-padding"></div>
    <!-- Image 4 -->
    <div id="four"  >
        <div class="row padding">
            <div class="col-lg-8 block-one">
                <img  class="img-fluid image-top ru-text" style="position: relative; top: +75px; left: +40px" src="/media/mrt1.svg" >
                <img  class="img-fluid image-top en-text" style="position: relative; top: +75px; left: +40px" src="/media/mee03.svg" >
                <br/>
                <br/>
                <img  class="img-fluid image-top ru-text" style="position: relative; top: +75px;left: +40px" src="/media/mrt2.svg" >
                <img  class="img-fluid image-top en-text" style="position: relative; top: +75px;left: +40px" src="/media/mee04.svg" >
                <br/>
                <a href="{% url 'courses' %}" style="position: relative; top: +115px;left: +40px; width: 170px;height: 48px;" class="btn btn-primary btn-red-submit" type="button" data-toggle="modal" data-target="#MyModal">
                    <span class="en-text">Submit application</span>
                    <span class = 'ru-text' style="width: 170px;height: 48px;position: relative; top: +7px;left: -8px;">Оставить заявку</span>
                </a>
            </div>
            <div class="col-lg-4">
                <img  src="/media/Frame_4.svg" class="img-fluid img4">
            </div>
        </div>
    </div>
    <div class="empty-padding"></div>
    <!-- Image 5 -->
    <img style="padding-top: 200px;" class="img-fluid image-top ru-text" src="/media/mr5.svg" >
    <img  class="img-fluid image-top en-text" src="/media/mee3.svg" >
    <div class="empty-padding"></div>
    <!-- Image 6 -->
    <img   style="padding-top: 200px;" class="img-fluid image-top ru-text" src="/media/mr6.svg" >
    <img  class="img-fluid image-top en-text" src="/media/mee4.svg" >
    <div class="empty-padding"></div>
    <!-- Image 7 -->
    <div>
    <img style="position: relative;left: -200px;width: 1510px;" src="/media/mrb.svg" >
    <img style="position: relative; top: -750px;left: +352px;" src="/media/mrt9.svg" >
    <img style="position: relative;top: -450px;left: -450px;" src="/media/mq1.svg" >
    <img style="position: relative;top: -870px;left: +350px;" src="/media/mq2.svg" >
    <img style="position: relative;top: -870px;left: +375px;" src="/media/mq3.svg" >
    </div>
    <a href="#" type="button" class="btn btn-primary btn-pink-red" data-toggle="modal" data-target="#MyModal"
    style="position: relative; top: -952px;left: +772px;">
        <span class="en-text">Get started</span>
        <span class ='ru-text'>Оставить заявку</span>
    </a>
    <a href="#" type="button" class="btn btn-primary btn-pink-red" data-toggle="modal" data-target="#MyModal"
    style="position: relative; top: -952px;left: +243px;">
        <span class="en-text">Get started</span>
        <span class ='ru-text'>Оставить заявку</span>
    </a>
    <a href="#" type="button" class="btn btn-primary btn-pink-red" data-toggle="modal" data-target="#MyModal"
    style="position: relative; top: -952px;left: -302px;">
        <span class="en-text">Get started</span>
        <span class ='ru-text'>Оставить заявку</span>
    </a>
    <div class="empty-padding"></div>
    <!-- Footer -->
    <footer style="position: relative;top: -800px;">
        <div class="container-fluid padding">
            <div class="row text-left">
                <div class="col-md-4">
                    <img src="/media/footer.jpg">
                </div>
                <div class="col-md-4">
                    <h5>
                        <span class="en-text">Learning</span>
                        <span class = 'ru-text'>Обучение</span>
                        
                    </h5>
                    <a class="footer-link" href="#">
                        <span class="en-text">Process</span>
                        <span class = 'ru-text' style="padding: 5px;">Процесс</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Classes</span>
                        <span class = 'ru-text' style="padding: 5px;">Предметы</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Educators</span>
                        <span class = 'ru-text' style="padding: 5px;">Преподаватели</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">QnA</span>
                        <span class = 'ru-text' style="padding: 5px;">Вопрос-ответ</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Price</span>
                        <span class = 'ru-text' style="padding: 5px;">Цена</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <h5>
                        <span class="en-text">PRO2</span>
                        <span class = 'ru-text'>PRO2</span>
                    </h5>
                    <a class="footer-link" href="#">
                        <span class="en-text">About Company</span>
                        <span class = 'ru-text'  style="padding: 5px;">О школе</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#"  type="button" data-toggle="modal" data-target="#MyModalT">
                        <span class="en-text">For educators</span>
                        <span class = 'ru-text'  style="padding: 5px;">Преподавателям</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Reviews</span>
                        <span class = 'ru-text'  style="padding: 5px;">Отзывы</span>
                    </a>
                    <br/>
                    <a class="footer-link" href="#">
                        <span class="en-text">Privacy policy</span>
                        <span class = 'ru-text'  style="padding: 5px;">Конфиденциальность</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="empty-padding"></div>
    <script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}

