{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Personal Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/personal.css' %}">
{% endblock %}

{% block content %}
    <br/>
    <div class="row padding">
        <div class="col-lg-3 left-side">
            <img src="/media/Logo.svg" class="img-fluid">
            <br/>
            <div class="media photo">
                <img class="rounded-circle account-img custom-img" src="{{ user.image.url }}">
            </div>
            <h5 class="center">{{user.name}}</h5>
            <a href="{% url 'main-personal_page' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                <span class="en-text">&ensp; My account</span>
                <span class = 'ru-text'>&ensp;Личный кабинет</span>
            </a>
            {% if user.is_god %}
                <a href="{% url 'create-course' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                    <span class="en-text">&ensp; Create Course</span>
                    <span class = 'ru-text'>&ensp;Создать Курс</span>
                </a>    
            {% endif %}
            {% if user.is_paid %}
                {% for course in courses %}
                    {% if course.is_paid %}
                        <h1 style='display: none;' class='course-name'>{{ course.course_name }}</h1>
                        <a href="{% url 'course-my' %}" id = "{{course.course_name}}" type ="button" class="btn btn-primary btn-custom course-list"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
                            <span class="en-text">&ensp; {{ course.course_name }}</span>
                            <span class = 'ru-text'>&ensp; {{ course.course_name }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-8 right-side">
            <div class="form-inline">
            <h2 class="my-account">
                <span class="en-text">My Account&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                <span class = 'ru-text'>Личный кабинет&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
            </h2>
            <a href="{% url 'main-home' %}" class="btn btn-primary btn-red">
                <span class="en-text">Home</span>
                <span class = 'ru-text'>Домой</span>
            </a>
            <!-- <a href="{% url 'logout' %}" class="btn btn-primary btn-red">Logout</a> -->
            </div>
            <br/>
            <div class="wrapper">
                <div class="white-back">
                    <h5 class="text-left header">
                        <span class="en-text">SCHEDULE</span>
                        <span class = 'ru-text'>Расписание занятий</span>
                    </h5>
                    <h5 class="text-left text-inside">
                        10:00
                        <span class="tab">Monday, 16 December</span>
                    </h5>
                    <h5 class="text-left text-inside">
                        10:00<span class="tab">Wednesday, 18 December</span>
                    </h5>
                    <h5 class="text-left text-inside">
                        10:00<span class="tab">Friday, 20 December</span>
                    </h5>
                </div>
                <div class="media white-back">
                        <img class="rounded-circle account-img custom-img-small" src="/media/default.jpg">
                        <h5 class="name">&ensp;Ivanov P.S.</h5>
                </div>
            </div>
                <br/>
                <div class="result white-back">
                    <h5 class="text-left header">
                        <span class="en-text">RESULTS OF PERFORMANCE</span>
                        <span class = 'ru-text'>Результаты успеваемости</span>
                    </h5>
                </div>
                <br/>
                <div class="result white-back">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">
                                <span class="en-text">Personal Info</span>
                                <span class = 'ru-text'>Личная Информация</span>
                            </legend>
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">
                                <span class="en-text">Update</span>
                                <span class = 'ru-text'>Обновить</span>
                            </button>
                        </div>
                    </form>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="delete" name="delete" value="delete">
                    <button class="btn btn-outline-info" type="submit">
                        <span class="en-text">Delete</span>
                        <span class = 'ru-text'>Delete</span>
                    </button>
                </form>
        </div>
        <div class="col-lg-1">
            <!-- <a href="{% url 'main-home' %}" class="btn btn-primary btn-red">Home</a> -->
            <a href="{% url 'logout' %}" class="btn btn-primary btn-red">
                <span class="en-text">Logout</span>
                <span class = 'ru-text'>Выйти</span>
            </a>
        </div>
    </div>
    <script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}