{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>Theory</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/practice.css' %}">
{% endblock %}

{% block content %}
<br/>
<div class="row padding">
    <div class="col-lg-3 left-side">
        <img src="/media/Logo.svg" class="img-fluid">
        <br/>
        <div class="media photo">
            <img class="rounded-circle account-img custom-img" src="{{ user.image.url }}">
        </div>
        <h5 class="center">{{user.name}}</h5>
        <a href="{% url 'main-personal_page' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; My account</span>
            <span class = 'ru-text'>&ensp;Личный кабинет</span>
        </a>
        <a href="{% url 'theory' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Theory and practice</span>
            <span class = 'ru-text'>&ensp;Теория и практика</span>
        </a>
        <a href="{% url 'homework' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Homework</span>
            <span class = 'ru-text'>&ensp;Домашние задания</span>
        </a>
        <a href="{% url 'test' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Tests</span>
            <span class = 'ru-text'>&ensp;Тесты</span>
        </a>
        <a href="{% url 'formula' %}" class="btn btn-primary btn-custom"><img class="rounded-circle account-img custom-img-xs" src="/media/circle.png">
            <span class="en-text">&ensp; Data booklet</span>
            <span class = 'ru-text'>&ensp;Справочник формул</span>
        </a>
    </div>
    <div class="col-lg-8 right-side">
            <h4 class="title">
                <span class="en-text">Theory and practice</span>
                <span class = 'ru-text'>Теория</span>
            </h4>
            <div class="main-box">
                {% for temp in theory %}
                <h5 class="topic">
                    <span class="en-text">Topic {{ temp.order }}</span>
                    <span class = 'ru-text'>Тема {{ temp.order }}</span>
                </h5>
                {% endfor %}
                {% for temp in theory %}
                <h2 class="topic-header">
                    <span class="en-text">{{ temp.theory_name }}</span>
                    <span class = 'ru-text'>Чистые вещества и смеси</span>
                </h2>
                {% endfor %}
                <br/>
                <h5 class="idea">
                    <span class="en-text">Essential ideas</span>
                    <span class = 'ru-text'>ОСНОВНЫЕ ИДЕИ</span>
                </h5>
                {% for temp in task %}
                    {% if temp.task_type == "['essential']" %}
                        <h4 class="inside-text">
                            <span class="dot"></span>
                            &ensp;{{temp.task}}
                        </h4>
                    {% endif %}
                {% endfor %}
                <h5 class="idea">
                    <span class="en-text">Understandings</span>
                    <span class = 'ru-text'>ЧТО НУЖНО ПОНИМАТЬ</span>
                </h5>
                <div class="wrapper">
                    {% for temp in task %}
                        {% if temp.task_type == "['understandings']" %}
                            <h4 class="inside-text">
                                <span class="dot"></span>
                                &ensp;{{temp.task}}
                            </h4>
                        {% endif %}
                    {% endfor %}
                </div>

                <h5 class="idea">
                    <span class="en-text">Applications and skills</span>
                    <span class = 'ru-text'>ПРИМЕНЕНИЯ И НАВЫКИ</span>
                </h5>
                <div class="wrapper">
                    {% for temp in task %}
                        {% if temp.task_type == "['app']" %}
                            <h4 class="inside-text">
                                <span class="dot"></span>
                                &ensp;{{temp.task}}
                            </h4>
                        {% endif %}
                    {% endfor %}
                    <h4 class="inside-text">
                        <span class="dot"></span>
                        &ensp;Substances that make up the mixture
                    </h4>
                    <h4 class="inside-text">
                        <span class="dot"></span>
                        &ensp;For example, only distilled water
                    </h4>
                    <h4 class="inside-text">
                        <span class="dot"></span>
                        &ensp;If no impurities are detected
                    </h4>
                </div>

                <h5 class="idea">
                    <span class="en-text">Graphs</span>
                    <span class = 'ru-text'>ГРАФИКИ</span>
                </h5>
                {% for temp in graphic %}  
                    <img src= /media/{{ temp.graphic }}>
                {% endfor %}
                <h5 class="idea">
                    <span class="en-text">Formulas</span>
                    <span class = 'ru-text'>ФОРМУЛЫ</span>
                </h5>
                <br/>
                <div class="wrapper">
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                    <div class="formula-box">
                        <h4 class="formula-header">
                            The amount of substance n (mol)
                        </h4>
                        <h3 class="formula-text">
                            n=m/Mr
                        </h3>
                        <h5 class="formula-footer">
                            n=V/22.4 (л/моль)
                        </h5>
                    </div>
                </div>

                <h5 class="idea">
                    <span class="en-text">Laws</span>
                    <span class = 'ru-text'>ЗАКОНЫ</span>
                </h5>
                <div class="law-column">
                    {% for temp in law %}  
                    <div class="row padding">
                        <div class="col-lg-3">
                            <h3 class="law-name">
                                {{temp.name}}
                            </h3>
                            <a href="#" class="more-details">{{temp.more}}</a>
                        </div>
                        <div class="col-lg-9">
                            <h4 class="inside-text">{{temp.text}}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    <div class="col-lg-1">
        <a href="{% url 'logout' %}" class="btn btn-primary btn-red">
            <span class="en-text">Logout</span>
            <span class = 'ru-text'>Выйти</span>
        </a>
    </div>
</div>
<script src="{% static 'main/change_language.js' %}"></script>
{% endblock content %}